<div>
    <h2>Регистрация</h2>
    <form>
        <label for="username">Имя пользователя:</label>
        <br/>
        <input type="text" id="username" name="username">
        <p class="pad"></p>
        <label for="password">Пароль:</label>
        <br/>
        <input type="password" id="password" name="password">
        <p class="pad"></p>
        <label for="repeat_password">Повторите пароль:</label>
        <br/>
        <input type="password" id="repeat_password" name="password">
        <p class="pad"></p>
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
