#clear {
  border: 3px solid lightpink; /* рамка 3 пикселя светло-светло-красная */
  background-color: transparent; /* прозрачный фон */
  color: rgba(255, 0, 0, 0.8); /* текст чуть насыщеннее, чем рамка */
  padding: 10px 20px; /* отступы внутри кнопки */
  font-size: 16px; /* размер шрифта */
  cursor: pointer; /* меняем курсор при наведении */
  display: inline-block; /* чтобы кнопка занимала только необходимое пространство */
  margin-left: 48%;
  margin-top: 30px;
  text-align: center;
  border-radius: 30px;
}

#clear:hover {
  background-color: rgba(255, 0, 0, 0.1); /* немного изменяем цвет фона при наведении */
}
