<div>
    <h2>Вход</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <label for="username">Имя пользователя:</label>
        <br/>
        <input type="text" id="username" name="username" ngModel>
        <p class="pad"></p>
        <label for="password">Пароль:</label>
        <br/>
        <input type="password" id="password" name="password" ngModel>
        <p class="pad"></p>
        <button type="submit">Войти</button>
    </form>
    <div *ngFor="let item of result  | async">
        <div *ngIf="item.result == 'true'">
            <p></p>
            <a routerLink="/main" ><img src="assets/resources/img/button.png" alt="page" class="contact" style="width: 80px; border-radius: 10px"/></a>
        </div>
        <div *ngIf="item.result == 'false'">
            <p></p>
            <p>Неверный логин или пароль!</p>
        </div>
    </div>
</div>

