<img src="assets/resources/img/back.jpg" alt="back" id="back"/>
<div *ngFor="let item of result  | async">
  <div *ngIf="item.result == 'false'" id="forbidden_label" class="container">
    Для просмотра контента этой страницы вам необходимо войти или зарегистрироваться!
    <br/>
    <button routerLink="/home" id="register">К регистрации!</button>
  </div>
<div *ngIf="item.result == 'true'" class="container">
  <div class="data">
    <img src="assets/resources/img/capy.jpg" alt="profile" class="profile-pic">
    <div class="header-info">
      <p style="font-size: 34px"><b>Mikhail Nachinkin</b></p>
      <p>Группа: P3206</p>
      <p>Вариант: 1734</p>
      <a href="https://vk.com/nachinkin1" ><img src="assets/resources/img/VK logo.png" alt="vk" class="contact"></a>
      <a href="https://github.com/Lisi4ka59" ><img src="assets/resources/img/github logo.png" alt="github" class="contact"></a>
      <a href="https://isu.ifmo.ru/pls/apex/f?p=2437:99:106462222053412" ><img src="assets/resources/img/ITMO logo.png" alt="itmo" class="contact"></a>
      <a href="http://localhost:4200/home" (click)="logOut()"><img src="assets/resources/img/main.png" alt="index" class="contact"/></a>
    </div>
  </div>

  <app-input-form/>
  <div id="table">

    <app-table-history/>

  </div>
</div>
</div>
