<form action="/image" method="POST" id="forma">

  <div class="xy_table">
    <div id="da">
      <div id="d" >

      </div>
      <div id="resultat">
      </div>
    </div>
    <div class="xy"> <div id="x"> X </div><div class="input"><label for="vvodx"></label><input class="in" type="text" name="X" id="vvodx"/></div> <div class="button">  <button class="xbutton"> -3 </button> <button class="xbutton"> -2 </button>  <button class="xbutton"> -1 </button> <button class="xbutton"> 0 </button>  <button class="xbutton"> 1 </button>  <button class="xbutton"> 2 </button>  <button class="xbutton"> 3 </button>  <button class="xbutton"> 4 </button>  <button class="xbutton"> 5 </button> </div>   </div>
    <div class="xy"> <div><label for="vvody">Y</label></div><div class="input"><input class="in" type="text" name="Y" id="vvody" placeholder="значение от -5, до 3"/> </div>  </div>
    <div class="xy"> <div id="r"> R </div><div class="input"><label for="vvodr"></label><input class="in" type="text" name="X" id="vvodr"/></div> <div class="button">  <button class="rbutton"> -3 </button> <button class="rbutton"> -2 </button>  <button class="rbutton"> -1 </button> <button class="rbutton"> 0 </button>  <button class="rbutton"> 1 </button>  <button class="rbutton"> 2 </button>  <button class="rbutton"> 3 </button>  <button class="rbutton"> 4 </button>  <button class="rbutton"> 5 </button> </div>   </div>
    <div class="wrapper">
      <input class="sub" type="submit" disabled value="Submit" id="submit"/>
    </div>


  </div>



</form>

